<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appointment</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container my-2">
    <h1>Запись приёма</h1>
    <form th:action="@{/medical-cards/patient}" method="post">
        <div class="form-group">
            <label for="complaint">Жалобы:</label>
            <textarea id="complaint" name="complaint" class="form-control form-control-lg" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="examination">Обследование:</label>
            <textarea id="examination" name="examination" class="form-control form-control-lg" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="certificate">Справка:</label>
            <textarea id="certificate" name="certificate" class="form-control form-control-lg" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="discharge">Выписка:</label>
            <textarea id="discharge" name="discharge" class="form-control form-control-lg" rows="4"></textarea>
        </div>
        <!-- Кнопка для сохранения -->
        <button type="button" class="btn btn-primary my-4" onclick="saveAsTxt()">Напечатать выписку с рекомендациями и
            рецептом
        </button>
    </form>
    <input type="hidden" name="appointmentId" th:value="${appointment.idAppointment}">
    <input type="submit" value="Сохранить" class="btn btn-primary">
    </form>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function saveAsTxt() {
        var dischargeContent = document.getElementById('discharge').value;
        var blob = new Blob([dischargeContent], {type: 'text/plain'});
        var a = document.createElement('a');
        a.href = window.URL.createObjectURL(blob);
        a.download = 'discharge.txt';
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    }
</script>

</body>
</html>
