<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Doctors</title>
</head>
<body>

<div class="container my-2">
    <h1>Список врачей в системе</h1>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Профиль</th>
            <th>Специализация</th>
            <th>Дата приема на работу</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.idEmployee}"></td>
            <td th:text="${doctor.person.lastName}"></td>
            <td th:text="${doctor.person.firstName}"></td>
            <td th:text="${doctor.person.patronymic}"></td>
            <td th:text="${doctor.profile}"></td>
            <td th:text="${doctor.specialty}"></td>
            <td th:text="${#dates.format(doctor.employmentDate, 'dd.MM.yyyy')}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
