<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Patient's appointments</title>
</head>
<body>

<div class="container my-2">
    <h1>Записи пациента</h1>

    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Врач</th>
            <th>Услуга</th>
            <th>Пациент</th>
            <th>Дата</th>
            <th>Время</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointments}">
            <td th:text="${appointment.favor.doctor.person.lastName + ' ' + appointment.favor.doctor.person.firstName.substring(0,1) +
                '. ' + appointment.favor.doctor.person.patronymic.substring(0,1) + '.'}"></td>
            <td th:text="${appointment.favor.name}"></td>
            <td th:text="${appointment.patient.person.lastName + ' ' + appointment.patient.person.firstName.substring(0,1) +
                '. ' + appointment.patient.person.patronymic.substring(0,1) + '.'}"></td>
            <td th:text="${#dates.format(appointment.appointmentDate, 'dd.MM.yyyy')}"></td>
            <td th:text="${#dates.format(appointment.appointmentTime, 'HH:mm')}"></td>
            <td><a th:href="@{'/medical-cards/patient?appointmentId=' + ${appointment.idAppointment}}"
                   class="btn btn-primary">Перейти к карте</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>