<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <title>Search favor</title>
</head>
<body>
<div class="container my-2">
    <h1>Результаты поиска</h1>

    <div th:if="${favors != null}">
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Название услуги</th>
                <th>Врач</th>
                <th>Профиль врача</th>
                <th>Специализация врача</th>
                <th>Цена услуги</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="favor : ${favors}">
                <td th:text="${favor.name}"></td>
                <td th:text="${favor.doctor.person.lastName + ' ' + favor.doctor.person.firstName.substring(0,1) +
                '. ' + favor.doctor.person.patronymic.substring(0,1) + '.'}"></td>
                <td th:text="${favor.doctor.profile}"></td>
                <td th:text="${favor.doctor.specialty}"></td>
                <td th:text="${favor.price}"></td>
                <td>
                    <form action="/favors/appointment-favor" method="GET">
                        <input type="hidden" name="serviceId" th:value="${favor.idService}"/>
                        <button type="submit" class="btn btn-primary">Выбрать</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${favors == null}">
        <p>No favors found</p>
    </div>
</div>
</body>

</html>
